#App {
  padding: 20px;
}

#App-header {
  display: flex;
  gap: 10px;
}

.users {
  width: max-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  text-align: left;
  margin-top: 50px;
}

.user-header {
  display: flex;
  gap: 40px;
}
